
#Ignore thumbnails created by windows
[Tt]humbs.db

#Ignore all files in these directories
[Bb]in/
[Dd]ebug/
[Oo]bj/
[Rr]elease/
_ReSharper/
[Nn]DependOut/
[Pp]ackages/
.vs/
[vV]isual [sS]tudios*/
[Pp]ublish/

#Ignore files build by Visual Studio
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.[Bb]ak
*.[Cc]ache
*.ilk
*.log
*.dll
*.lib
*.sbr
*.scc
*.DotSettings
*.resharper
*.[Bb]in
*.stackdump
*.nupkg
*.dbmdl
*.vsp
*.vsps
*.jfm

#Ignore merge conflict original and rejected files
*.orig
*.rej

#Ignore installer files
*.msi